@font-face {
  font-family: "Warren Text";
  src: url(v1/WarrenText-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Warren Text";
  src: url(v1/WarrenText-RegularItalic.woff2);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Warren Text";
  src: url(v1/WarrenText-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Warren Text";
  src: url(v1/WarrenText-BoldItalic.woff2);
  font-weight: 700;
  font-style: italic;
}
/* Localized */